<!doctype html>
<html lang="es">
  {% include head.html %}
  <body>
    <p style="background-image: url("/assets/images/world-5282456_1280.jpg");">
      <img src="/assets/images/ngDAOlogo9.png" class="logo" alt="ngDAO logo">
      <img src="/assets/images/world-5282456_1280.jpg" class="logo" alt="ngDAO logo">
    </p>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include menu.html %}
    <h1>{{ page.title }}</h1>
    <h3><i>{{ page.description }}</i></h3>
    <section>
      {{ content }}
    </section>
    <footer>
      {% include footer.html %}
    </footer>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
  </body>
</html>
